:root {
  --calculator-width: 600px;
  --calculator-height: 700px;
}

.Calculator {
  margin: 0 auto;

  padding: 0 2px 5px;

  display: grid;

  width: var(--calculator-width);
  height: var(--calculator-height);

  background: rgba(96, 87, 99, 0.594458);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  grid-template-rows: 1fr 3fr;
}
