.Display {
  padding: 30px 30px 0;

  display: grid;
  grid-template-rows: 1fr 1fr;

  overflow: hidden;

  width: 100%;

  font-size: 2em;
  text-align: right;

  color: #fff;
}

.DisplayValue {
  position: relative;

  margin: 0;

  overflow: hidden;

  white-space: nowrap;

  user-select: none;
}

.Input {
  position: absolute;
  right: 0;
}
