* {
  box-sizing: border-box;
}

#app {
  margin-top: 60px;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;

  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
